aes-keywrap==17.12.1
aff4-snappy==0.5.1
altgraph==0.16.1
boto3==1.9.72
botocore==1.12.72
certifi==2018.11.29
cffi==1.15.1
cryptography==40.0.2
docutils==0.14
expiringdict==1.2.2
fastchunking==0.0.3
fbs==1.2.1
future==0.17.1
hexdump==3.3
html5lib==1.0.1
intervaltree==2.1.0
isodate==0.6.1
jmespath==0.9.3
lz4==3.1.10
macholib==1.11
passlib==1.7.4
pefile==2018.8.8
pyaff4==0.34
PyBindGen==0.22.1
pycparser==2.21
pycryptodome==3.17
pycryptoplus==0.0.1
PyInstaller==3.4
PyNaCl==1.5.0
pyparsing==3.0.9
PySide2==5.12.0
python-dateutil==2.8.0
pytz==2023.3
PyYAML==5.4
rdflib==4.2.2
s3transfer==0.1.13
shiboken2==5.12.0
six==1.12.0
sortedcontainers==2.4.0
SPARQLWrapper==1.8.5
tzlocal==2.1
urllib3==1.24.2
webencodings==0.5.1
